
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
  	<div class="portfolio-icon">
    	<img class="portfolio-icon-image card-img-top" src="/assets/images/{{page.logo}}" alt="Card image cap">
	</div>    	
    <h3>{{ page.title }}</h3>
    <div class="card-body">
      <p class="card-text">{{page.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if page.code %}
          	<a href="{{page.code}}" target="_blank">
          		<button type="button" class="btn btn-sm btn-outline-secondary">Code</button>
          	</a>
          {% endif %}
          {% if page.website %}
          	<a href="{{page.website}}" target="_blank">
          		<button type="button" class="btn btn-sm btn-outline-secondary">Website</button>
          	</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


{{content}}
